In [68]:
import pandas as pd
zam_praha = pd.read_csv("zam_praha.csv")
zam_plzen = pd.read_csv("zam_plzeň.csv")
zam_liberec = pd.read_csv("zam_liberec.csv")

zam_praha.head()
zam_plzen.head()
zam_liberec.head()

zam_praha.info
zam_plzen.info
zam_liberec.info

<bound method DataFrame.info of         jmeno    prijimeni   telefonni_cislo  cislo_zamestnance
0        Nela      Šťastná       728 454 176                 83
1     Heather      Marková       604 404 522                 84
2      Krista  Procházková  +421 50 444 5544                 85
3    Jennifer        Brown       775 545 190                 86
4   Ladislava    Blackwell  +421 913 487 200                 87
5      Robert       Macias  +421 49 929 6856                 88
6        Dana        Reyes  +421 904 153 942                 90
7       Vasyl       Veselý       603 759 413                 92
8       Randy       Veselý       777 149 125                 95
9      Audrey        Allen  +421 908 839 506                 96
10       Ivan       Bartoš       603 226 051                 99>

In [69]:
zam_praha["mesto"] = "Praha"
zam_plzen["mesto"] = "Plzeň"
zam_liberec["mesto"] = "Liberec"


zam_plzen.head()

      jmeno    prijimeni   telefonni_cislo  cislo_zamestnance  mesto
0     Stacy  Pospíšilová       727 293 880                  3  Plzeň
1     Matěj         Král       770 787 377                  6  Plzeň
2    Amanda       Wilson  +421 52 656 7231                  7  Plzeň
3     Angel       Wilson  +421 52 135 2491                  8  Plzeň
4  Jindřich       Howell  +421 39 043 0948                 10  Plzeň

In [70]:
zamestnanci = pd.concat([zam_praha, zam_plzen, zam_liberec], ignore_index = True)

zamestnanci.info

<bound method DataFrame.info of           jmeno    prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0         Brian         Hall  +421 949 656 098                 30    Praha
1         Marta     Kolářová       730 456 163                 32    Praha
2          John      Moravec       725 092 179                 33    Praha
3      Dominika      Kopecká       722 747 626                 34    Praha
4        Marcel        Hájek  +421 902 928 669                 35    Praha
5        Milada    Hernandez       773 373 704                 38    Praha
6     Catherine       Bender       604 068 460                 40    Praha
7          Olga      Němcová  +421 914 172 243                 41    Praha
8       Jeffrey      Šťastný       607 628 821                 44    Praha
9        Kamila       Říhová  +421 948 396 069                 47    Praha
10      Jaromír       Miller  +421 912 615 902                 49    Praha
11  Christopher        Zeman  +421 948 150 084                 51    Praha
12     Karolína        Short       721 589 083                 53    Praha
13     Michelle      Vlčková  +421 41 720 7806                 54    Praha
14      Jeffrey     Pospíšil  +421 55 491 6940                 56    Praha
15     Ladislav       Blažek  +421 910 274 975                 57    Praha
16         John       Bailey       775 021 116                 58    Praha
17      William      Shelton  +421 47 745 8219                 60    Praha
18    Miroslava       Veselá       774 029 254                 62    Praha
19      William    Alexander  +421 949 106 724                 63    Praha
20     Kimberly         Bass  +421 912 169 840                 64    Praha
21       Nathan      Svoboda       728 710 923                 66    Praha
22        Luděk       Bartoš  +421 940 700 326                 69    Praha
23       Dillon        Black       734 300 978                 70    Praha
24       Robert         Říha       727 351 984                 72    Praha
25        Steve        Šimek       604 966 101                 74    Praha
26      Theresa     Kučerová  +421 48 528 0081                 76    Praha
27        Marta       Butler  +421 944 196 827                 78    Praha
28     Samantha    Kadlecová  +421 904 841 543                 80    Praha
29        Stacy  Pospíšilová       727 293 880                  3    Plzeň
30        Matěj         Král       770 787 377                  6    Plzeň
31       Amanda       Wilson  +421 52 656 7231                  7    Plzeň
32        Angel       Wilson  +421 52 135 2491                  8    Plzeň
33     Jindřich       Howell  +421 39 043 0948                 10    Plzeň
34    Alexander     Martinez       721 195 689                 13    Plzeň
35        Radim      Kopecký  +421 917 371 226                 16    Plzeň
36     Miroslav         Reed       774 829 074                 18    Plzeň
37       Emilie       Powell       731 380 539                 21    Plzeň
38       Nikola         Wade       726 763 154                 22    Plzeň
39    Katherine         Reed       726 214 968                 23    Plzeň
40        Kayla     Urbanová       737 772 985                 24    Plzeň
41        Roman       Moreno       722 284 985                 26    Plzeň
42     Bohumila        Smith       608 121 912                 27    Plzeň
43      Blažena        Smith  +421 51 828 2591                 28    Plzeň
44      Phillip         Malý       731 594 560                 29    Plzeň
45         Nela      Šťastná       728 454 176                 83  Liberec
46      Heather      Marková       604 404 522                 84  Liberec
47       Krista  Procházková  +421 50 444 5544                 85  Liberec
48     Jennifer        Brown       775 545 190                 86  Liberec
49    Ladislava    Blackwell  +421 913 487 200                 87  Liberec
50       Robert       Macias  +421 49 929 6856                 88  Liberec
51         Dana        Reyes  +421 904 153 942                 90  Liberec
52        Vasyl       Veselý       603 759 413                 92  Liberec
53        Randy       Veselý       777 149 125                 95  Liberec
54       Audrey        Allen  +421 908 839 506                 96  Liberec
55         Ivan       Bartoš       603 226 051                 99  Liberec>

In [71]:
import pandas as pd
platy_2021_02 = pd.read_csv("platy_2021_02.csv")

platy_2021_02.info

<bound method DataFrame.info of     cislo_zamestnance     plat
0                   3  54900.0
1                   6  54800.0
2                   7  36400.0
3                   8  47900.0
4                  16  34200.0
5                  18  35400.0
6                  21  54200.0
7                  22  34400.0
8                  23  39000.0
9                  24  44200.0
10                 26  59600.0
11                 27  45100.0
12                 28  38100.0
13                 29  48900.0
14                 30  33500.0
15                 32  53000.0
16                 33  38400.0
17                 34  36800.0
18                 38  32600.0
19                 40  32800.0
20                 41  49300.0
21                 44  52000.0
22                 47  40700.0
23                 49  58400.0
24                 51  37100.0
25                 56  39300.0
26                 57  36800.0
27                 63  31400.0
28                 64  36900.0
29                 69  32600.0
30                 70  52600.0
31                 74  49300.0
32                 76  55400.0
33                 78  52600.0
34                 80  57700.0
35                 83  46500.0
36                 84  38600.0
37                 85  44200.0
38                 87  49900.0
39                 90  41100.0
40                 92  48100.0
41                 95  31600.0
42                 96  50200.0>

In [72]:
merge_all = pd.merge(zamestnanci, platy_2021_02, on=["cislo_zamestnance"])

merge_all.info

<bound method DataFrame.info of           jmeno    prijimeni   telefonni_cislo  cislo_zamestnance    mesto  \
0         Brian         Hall  +421 949 656 098                 30    Praha
1         Marta     Kolářová       730 456 163                 32    Praha
2          John      Moravec       725 092 179                 33    Praha
3      Dominika      Kopecká       722 747 626                 34    Praha
4        Milada    Hernandez       773 373 704                 38    Praha
5     Catherine       Bender       604 068 460                 40    Praha
6          Olga      Němcová  +421 914 172 243                 41    Praha
7       Jeffrey      Šťastný       607 628 821                 44    Praha
8        Kamila       Říhová  +421 948 396 069                 47    Praha
9       Jaromír       Miller  +421 912 615 902                 49    Praha
10  Christopher        Zeman  +421 948 150 084                 51    Praha
11      Jeffrey     Pospíšil  +421 55 491 6940                 56    Praha
12     Ladislav       Blažek  +421 910 274 975                 57    Praha
13      William    Alexander  +421 949 106 724                 63    Praha
14     Kimberly         Bass  +421 912 169 840                 64    Praha
15        Luděk       Bartoš  +421 940 700 326                 69    Praha
16       Dillon        Black       734 300 978                 70    Praha
17        Steve        Šimek       604 966 101                 74    Praha
18      Theresa     Kučerová  +421 48 528 0081                 76    Praha
19        Marta       Butler  +421 944 196 827                 78    Praha
20     Samantha    Kadlecová  +421 904 841 543                 80    Praha
21        Stacy  Pospíšilová       727 293 880                  3    Plzeň
22        Matěj         Král       770 787 377                  6    Plzeň
23       Amanda       Wilson  +421 52 656 7231                  7    Plzeň
24        Angel       Wilson  +421 52 135 2491                  8    Plzeň
25        Radim      Kopecký  +421 917 371 226                 16    Plzeň
26     Miroslav         Reed       774 829 074                 18    Plzeň
27       Emilie       Powell       731 380 539                 21    Plzeň
28       Nikola         Wade       726 763 154                 22    Plzeň
29    Katherine         Reed       726 214 968                 23    Plzeň
30        Kayla     Urbanová       737 772 985                 24    Plzeň
31        Roman       Moreno       722 284 985                 26    Plzeň
32     Bohumila        Smith       608 121 912                 27    Plzeň
33      Blažena        Smith  +421 51 828 2591                 28    Plzeň
34      Phillip         Malý       731 594 560                 29    Plzeň
35         Nela      Šťastná       728 454 176                 83  Liberec
36      Heather      Marková       604 404 522                 84  Liberec
37       Krista  Procházková  +421 50 444 5544                 85  Liberec
38    Ladislava    Blackwell  +421 913 487 200                 87  Liberec
39         Dana        Reyes  +421 904 153 942                 90  Liberec
40        Vasyl       Veselý       603 759 413                 92  Liberec
41        Randy       Veselý       777 149 125                 95  Liberec
42       Audrey        Allen  +421 908 839 506                 96  Liberec

       plat
0   33500.0
1   53000.0
2   38400.0
3   36800.0
4   32600.0
5   32800.0
6   49300.0
7   52000.0
8   40700.0
9   58400.0
10  37100.0
11  39300.0
12  36800.0
13  31400.0
14  36900.0
15  32600.0
16  52600.0
17  49300.0
18  55400.0
19  52600.0
20  57700.0
21  54900.0
22  54800.0
23  36400.0
24  47900.0
25  34200.0
26  35400.0
27  54200.0
28  34400.0
29  39000.0
30  44200.0
31  59600.0
32  45100.0
33  38100.0
34  48900.0
35  46500.0
36  38600.0
37  44200.0
38  49900.0
39  41100.0
40  48100.0
41  31600.0
42  50200.0  >

In [73]:
#průměrný plat je

print(merge_all.groupby('mesto')["plat"].mean())

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [74]:
#Zadani 2

import pandas as pd
vykazy = pd.read_csv("vykazy.csv")

vykazy.head

<bound method NDFrame.head of           date  hours project  emloyee_id
0   2021-02-01    2.5     F30          13
1   2021-02-01    3.4     W05          70
2   2021-02-01    2.1     JL9          72
3   2021-02-01    5.2     F30           3
4   2021-02-01    2.4     TE1          54
5   2021-02-01    4.1     TE1          83
6   2021-02-01    5.4     W05          92
7   2021-02-01    2.2     YLI          34
8   2021-02-01    2.7     YLI          84
9   2021-02-01    4.4     W05          30
10  2021-02-02    5.6     F30          53
11  2021-02-02    2.6     W05          47
12  2021-02-02    2.4     YLI          44
13  2021-02-02    3.1     YLI          40
14  2021-02-02    5.3     YLI          10
15  2021-02-02    3.6     YLI          53
16  2021-02-02    5.6     F30          56
17  2021-02-03    4.0     W05          53
18  2021-02-03    4.6     TE1          86
19  2021-02-03    2.6     F30          18
20  2021-02-03    2.8     TE1          47
21  2021-02-03    2.6     YLI          34
22  2021-02-03    3.7     YLI          96
23  2021-02-03    5.2     W05          57
24  2021-02-03    5.5     W05          40
25  2021-02-03    5.4     YLI          86
26  2021-02-03    2.1     TE1          87>

In [90]:
#prejmenovat sloupec

vykazy.rename(columns={"emloyee_id": "cislo_zamestnance"}, inplace=True)
vykazy.head

<bound method NDFrame.head of           date  hours project  cislo_zamestnance
0   2021-02-01    2.5     F30                 13
1   2021-02-01    3.4     W05                 70
2   2021-02-01    2.1     JL9                 72
3   2021-02-01    5.2     F30                  3
4   2021-02-01    2.4     TE1                 54
5   2021-02-01    4.1     TE1                 83
6   2021-02-01    5.4     W05                 92
7   2021-02-01    2.2     YLI                 34
8   2021-02-01    2.7     YLI                 84
9   2021-02-01    4.4     W05                 30
10  2021-02-02    5.6     F30                 53
11  2021-02-02    2.6     W05                 47
12  2021-02-02    2.4     YLI                 44
13  2021-02-02    3.1     YLI                 40
14  2021-02-02    5.3     YLI                 10
15  2021-02-02    3.6     YLI                 53
16  2021-02-02    5.6     F30                 56
17  2021-02-03    4.0     W05                 53
18  2021-02-03    4.6     TE1                 86
19  2021-02-03    2.6     F30                 18
20  2021-02-03    2.8     TE1                 47
21  2021-02-03    2.6     YLI                 34
22  2021-02-03    3.7     YLI                 96
23  2021-02-03    5.2     W05                 57
24  2021-02-03    5.5     W05                 40
25  2021-02-03    5.4     YLI                 86
26  2021-02-03    2.1     TE1                 87>

In [98]:
print(vykazy['cislo_zamestnance'].unique())
print(merge_all['cislo_zamestnance'].unique())

[13 70 72  3 54 83 92 34 84 30 53 47 44 40 10 56 86 18 96 57 87]
[30 32 33 34 38 40 41 44 47 49 51 56 57 63 64 69 70 74 76 78 80  3  6  7
  8 16 18 21 22 23 24 26 27 28 29 83 84 85 87 90 92 95 96]

In [102]:
#zmergovat na základě čísla zaměstnance

Merge_pro_vykaz = pd.merge(vykazy, merge_all, on=["cislo_zamestnance"], how="outer")
Merge_pro_vykaz.info

<bound method DataFrame.info of           date  hours project  cislo_zamestnance        jmeno    prijimeni  \
0   2021-02-01    2.5     F30                 13          NaN          NaN
1   2021-02-01    3.4     W05                 70       Dillon        Black
2   2021-02-01    2.1     JL9                 72          NaN          NaN
3   2021-02-01    5.2     F30                  3        Stacy  Pospíšilová
4   2021-02-01    2.4     TE1                 54          NaN          NaN
5   2021-02-01    4.1     TE1                 83         Nela      Šťastná
6   2021-02-01    5.4     W05                 92        Vasyl       Veselý
7   2021-02-01    2.2     YLI                 34     Dominika      Kopecká
8   2021-02-03    2.6     YLI                 34     Dominika      Kopecká
9   2021-02-01    2.7     YLI                 84      Heather      Marková
10  2021-02-01    4.4     W05                 30        Brian         Hall
11  2021-02-02    5.6     F30                 53          NaN          NaN
12  2021-02-02    3.6     YLI                 53          NaN          NaN
13  2021-02-03    4.0     W05                 53          NaN          NaN
14  2021-02-02    2.6     W05                 47       Kamila       Říhová
15  2021-02-03    2.8     TE1                 47       Kamila       Říhová
16  2021-02-02    2.4     YLI                 44      Jeffrey      Šťastný
17  2021-02-02    3.1     YLI                 40    Catherine       Bender
18  2021-02-03    5.5     W05                 40    Catherine       Bender
19  2021-02-02    5.3     YLI                 10          NaN          NaN
20  2021-02-02    5.6     F30                 56      Jeffrey     Pospíšil
21  2021-02-03    4.6     TE1                 86          NaN          NaN
22  2021-02-03    5.4     YLI                 86          NaN          NaN
23  2021-02-03    2.6     F30                 18     Miroslav         Reed
24  2021-02-03    3.7     YLI                 96       Audrey        Allen
25  2021-02-03    5.2     W05                 57     Ladislav       Blažek
26  2021-02-03    2.1     TE1                 87    Ladislava    Blackwell
27         NaN    NaN     NaN                 32        Marta     Kolářová
28         NaN    NaN     NaN                 33         John      Moravec
29         NaN    NaN     NaN                 38       Milada    Hernandez
30         NaN    NaN     NaN                 41         Olga      Němcová
31         NaN    NaN     NaN                 49      Jaromír       Miller
32         NaN    NaN     NaN                 51  Christopher        Zeman
33         NaN    NaN     NaN                 63      William    Alexander
34         NaN    NaN     NaN                 64     Kimberly         Bass
35         NaN    NaN     NaN                 69        Luděk       Bartoš
36         NaN    NaN     NaN                 74        Steve        Šimek
37         NaN    NaN     NaN                 76      Theresa     Kučerová
38         NaN    NaN     NaN                 78        Marta       Butler
39         NaN    NaN     NaN                 80     Samantha    Kadlecová
40         NaN    NaN     NaN                  6        Matěj         Král
41         NaN    NaN     NaN                  7       Amanda       Wilson
42         NaN    NaN     NaN                  8        Angel       Wilson
43         NaN    NaN     NaN                 16        Radim      Kopecký
44         NaN    NaN     NaN                 21       Emilie       Powell
45         NaN    NaN     NaN                 22       Nikola         Wade
46         NaN    NaN     NaN                 23    Katherine         Reed
47         NaN    NaN     NaN                 24        Kayla     Urbanová
48         NaN    NaN     NaN                 26        Roman       Moreno
49         NaN    NaN     NaN                 27     Bohumila        Smith
50         NaN    NaN     NaN                 28      Blažena        Smith
51         NaN    NaN     NaN                 29      Phillip         Malý
52         NaN    NaN     NaN                 85       Krista  Procházková
53         NaN    NaN     NaN                 90         Dana        Reyes
54         NaN    NaN     NaN                 95        Randy       Veselý

     telefonni_cislo    mesto     plat
0                NaN      NaN      NaN
1        734 300 978    Praha  52600.0
2                NaN      NaN      NaN
3        727 293 880    Plzeň  54900.0
4                NaN      NaN      NaN
5        728 454 176  Liberec  46500.0
6        603 759 413  Liberec  48100.0
7        722 747 626    Praha  36800.0
8        722 747 626    Praha  36800.0
9        604 404 522  Liberec  38600.0
10  +421 949 656 098    Praha  33500.0
11               NaN      NaN      NaN
12               NaN      NaN      NaN
13               NaN      NaN      NaN
14  +421 948 396 069    Praha  40700.0
15  +421 948 396 069    Praha  40700.0
16       607 628 821    Praha  52000.0
17       604 068 460    Praha  32800.0
18       604 068 460    Praha  32800.0
19               NaN      NaN      NaN
20  +421 55 491 6940    Praha  39300.0
21               NaN      NaN      NaN
22               NaN      NaN      NaN
23       774 829 074    Plzeň  35400.0
24  +421 908 839 506  Liberec  50200.0
25  +421 910 274 975    Praha  36800.0
26  +421 913 487 200  Liberec  49900.0
27       730 456 163    Praha  53000.0
28       725 092 179    Praha  38400.0
29       773 373 704    Praha  32600.0
30  +421 914 172 243    Praha  49300.0
31  +421 912 615 902    Praha  58400.0
32  +421 948 150 084    Praha  37100.0
33  +421 949 106 724    Praha  31400.0
34  +421 912 169 840    Praha  36900.0
35  +421 940 700 326    Praha  32600.0
36       604 966 101    Praha  49300.0
37  +421 48 528 0081    Praha  55400.0
38  +421 944 196 827    Praha  52600.0
39  +421 904 841 543    Praha  57700.0
40       770 787 377    Plzeň  54800.0
41  +421 52 656 7231    Plzeň  36400.0
42  +421 52 135 2491    Plzeň  47900.0
43  +421 917 371 226    Plzeň  34200.0
44       731 380 539    Plzeň  54200.0
45       726 763 154    Plzeň  34400.0
46       726 214 968    Plzeň  39000.0
47       737 772 985    Plzeň  44200.0
48       722 284 985    Plzeň  59600.0
49       608 121 912    Plzeň  45100.0
50  +421 51 828 2591    Plzeň  38100.0
51       731 594 560    Plzeň  48900.0
52  +421 50 444 5544  Liberec  44200.0
53  +421 904 153 942  Liberec  41100.0
54       777 149 125  Liberec  31600.0  >

In [108]:
# zjisti celkový počet vykázaných hodin za jednotlivé projekty.

Celkovy_pocet_hodin = Merge_pro_vykaz.groupby("project")["hours"].sum()

Celkovy_pocet_hodin.info

<bound method Series.info of project
F30    21.5
JL9     2.1
TE1    16.0
W05    30.5
YLI    31.0
Name: hours, dtype: float64>